:root {
  --heading-font-family: "Josefin Sans", sans-serif;
  --body-font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--heading-font-family);
}

body {
  font-family: var(--body-font-family);
}
/*#region - start of - autofill fix */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*#endregion - end of - autofill fix */
